<div class="login-box">
    <div class="login-header">
        <i class="glyphicon glyphicon-lock"></i>
    </div>
    <form class="login-body form-group"
          name="loginForm"
          id="loginForm"
          ng-submit="login(user)">
        <label for="username">Username</label>
        <div class="login-input">
            <input class="form-control"
                   type="text"
                   name="username"
                   id="username"
                   ng-model="user.username"
                   placeholder="Username"
                   autofocus
                   required />
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <label for="password">Password</label>
        <div class="login-input form-group">
            <input class="form-control"
                   type="password"
                   name="password"
                   id="password"
                   ng-model="user.password"
                   placeholder="Password"
                   required />
            <i class="glyphicon glyphicon-lock"></i>
        </div>
        <div class="alert alert-danger" ng-if="failedLogin">
            <p><strong>Bad e-mail</strong> or <strong>password</strong>! Please try again!</p>
        </div>
        <label><input type="checkbox" ng-model="remember" /> Keep me logged in</label>
        <button type="submit"
                class="btn btn-primary">
            <span>Login</span>
            <i class="glyphicon glyphicon-log-in"></i>
        </button>
    </form>
</div>