<div class="login-box">
    <div class="login-header">
        <i class="glyphicon glyphicon-lock"></i>
    </div>
    <div class="login-body">
        <label for="username">Username</label>
        <div class="login-input">
            <input class="form-control" type="text" id="username" placeholder="Username" />
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <label for="password">Password</label>
        <div class="login-input">
            <input class="form-control" type="password" id="password" placeholder="Password" />
            <i class="glyphicon glyphicon-lock"></i>
        </div>
        <label><input type="checkbox" /> Keep me logged in</label>
        <button class="btn btn-primary">
            <span>Login</span>
            <i class="glyphicon glyphicon-log-in"></i>
        </button>
    </div>
</div>