<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Make your kid happy than ever </p>
            <div class="list-group">
                <a href="#" class="list-group-item">Action Figures</a>
                <a href="#" class="list-group-item">Building Sets & Blocks</a>
                <a href="#" class="list-group-item">Collector Toys</a>
                <a href="#" class="list-group-item">Arts & Crafts</a>
                <a href="#" class="list-group-item">Electronics</a>
                <a href="#" class="list-group-item">Mini Figures</a>
                <a href="#" class="list-group-item">Outdoor Toys</a>
                <a href="#" class="list-group-item">Other</a>
            </div>
        </div>

        <div class="col-md-9" carousel-modal>
            <div class="carousel">
                <ul class="pictures">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="indicators">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <span class="control prev glyphicon glyphicon-chevron-left"></span>
                <span class="control next glyphicon glyphicon-chevron-right"></span>
            </div>

            <div class="search-bar row">
                <div class="search col-md-6">
                    <input type="text"
                           id="search"
                           name="search"
                           class="form-control"
                           placeholder="Search..."
                           ng-model="search"/>
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <div class="sort col-md-6">
                    <label for="sort">Sort By: </label>
                    <select id="sort"
                            name="sort"
                            class="form-control"
                            ng-model="selectedOption"
                            ng-options="option.name for option in sortByOptions track by option.value">
                    </select>
                    <label for="reverse">Reverse: </label>
                    <label class="switch">
                        <input id="reverse"
                               name="reverse"
                               type="checkbox"
                               ng-model="reverse">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="offers col-md-12">
                <div class="offer col-md-4 col-sm-6 col-xs-12"
                     ng-repeat="offer in offers | filter: {name: search} | orderBy: selectedOption.value : reverse">
                    <div class="offer-body thumbnail">
                        <div class="caption">
                            <h4><a href="#/offer/{{offer.id}}">{{offer.name | uppercase}}</a></h4>
                            <h4>{{offer.price | currency}}</h4>
                        </div>
                        <div class="products">
                            <h4>Products:</h4>
                            <ul>
                                <li ng-repeat="product in offer.products">
                                    <h5>{{product.quantity}}x {{product.name}}</h5>
                                </li>
                            </ul>
                            <div class="smoothy-box"></div>
                        </div>
                        <div class="details">
                            <a href="#/offer/{{offer.id}}">
                                <h5>Details...</h5>
                            </a>
                        </div>
                        <button type="button" class="btn btn-default" ng-disabled="disableButtons">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                        </button>
                        <div class="button-tooltip button-tooltip-small" ng-if="disableButtons">
                            <p>Please log in to purchase.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


