<div class="container">
    <div class="row">
        <div class="col-md-offset-6">
            <div id="signupHeading">Sign Up</div>
            <div>Please fill in the form in order to make a new account.</div>
            <div>Already have an account? Click <a href="#/login">here</a> to login.</div>
            <form name="regForm" id="regForm" ng-submit="reg()" novalidate>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="Enter a valid e-mail address"
                               name="emailInput"
                               class="form-control"
                               type="email"
                               ng-model="user.email">
                        <span class="warn" ng-show="regForm.emailInput.$invalid">Entered e-mail is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="Choose a username"
                               name="usernameInput"
                               class="form-control"
                               type="text"
                               minlength="4"
                               ng-model="user.username"
                               pattern="[a-zA-Z0-9]+">
                        <span class="warn" ng-show="regForm.usernameInput.$invalid">Entered username is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="Choose password"
                               name="passw"
                               class="form-control"
                               type="password"
                               ng-minlength="6"
                               ng-model="user.password">
                        <span class="warn" ng-show="regForm.passw.$invalid">Entered password is incorrect<br>You need to choose at least 6 characters</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="Confirm Password"
                               name="passwconf"
                               class="form-control"
                               type="password"
                               ng-minlength="6"
                               ng-model="passwconf"
                               ng-pattern="user.password">
                        <span class="warn" ng-show="regForm.passw.$valid && regForm.passwconf.$error.pattern">Passwords do not match</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="Full Name"
                               name="fullName"
                               class="form-control"
                               type="text"
                               ng-model="user.fullName"
                               pattern="(?:\s*[A-Z][a-z]+){1,}">
                        <span class="warn" ng-show="regForm.fullName.$invalid">Entered name is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="Phone Number"
                               name="phone"
                               class="form-control"
                               type="tel"
                               ng-model="user.phone"
                               pattern="[0-9]+">
                        <span class="warn" ng-show="regForm.phone.$invalid">Entered phone number is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label>Delivery Informations: </label>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="City"
                               name="deliveryCity"
                               class="form-control"
                               type="text"
                               ng-model="deliveryAddress.city"
                               pattern="(?:\s*[A-Z][a-z]+){1,}">
                        <span class="warn" ng-show="regForm.deliveryCity.$invalid">Entered city is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="Street"
                               name="deliveryStreet"
                               class="form-control"
                               type="text"
                               ng-model="deliveryAddress.street"
                               pattern="(?:\s*[A-Z][a-z]+){1,}">
                        <span class="warn" ng-show="regForm.deliveryStreet.$invalid">Entered street is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="House Number"
                               name="deliveryHouseNumber"
                               class="form-control"
                               type="text"
                               ng-model="deliveryAddress.number"
                               pattern="[0-9]+">
                        <span class="warn" ng-show="regForm.deliveryHouseNumber.$invalid">Entered house number is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input placeholder="ZIP Code"
                               name="deliveryZip"
                               class="form-control"
                               type="text"
                               ng-model="deliveryAddress.zipCode"
                               pattern="[0-9]+">
                        <span class="warn" ng-show="regForm.deliveryZip.$invalid">Entered ZIP Code is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label>Billing Informations: </label>
                </div>
                <div class="form-group">
                    <label for="sameBillingAddress">
                        <input type="checkbox"
                               id="sameBillingAddress"
                               ng-model="sameBillingAddress"> My billing address is the same as my delivery address.
                    </label>
                </div>
                <div class="form-group row" ng-if="!sameBillingAddress">
                    <div class="col-md-12">
                        <input placeholder="City"
                               name="billingCity"
                               class="form-control"
                               type="text"
                               ng-model="billingAddress.city"
                               pattern="[A-Z][a-z]+">
                        <span class="warn" ng-show="regForm.billingCity.$invalid">Entered city is incorrect</span>
                    </div>
                </div>
                <div class="form-group row" ng-if="!sameBillingAddress">
                    <div class="col-md-12">
                        <input placeholder="Street"
                               name="billingStreet"
                               class="form-control"
                               type="text"
                               ng-model="billingAddress.street"
                               pattern="[A-Z][a-z]+">
                        <span class="warn" ng-show="regForm.billingStreet.$invalid">Entered street is incorrect</span>
                    </div>
                </div>
                <div class="form-group row" ng-if="!sameBillingAddress">
                    <div class="col-md-12">
                        <input placeholder="House Number"
                               name="billingHouseNumber"
                               class="form-control"
                               type="text"
                               ng-model="billingAddress.number"
                               pattern="[0-9]+">
                        <span class="warn" ng-show="regForm.billingHouseNumber.$invalid">Entered house number is incorrect</span>
                    </div>
                </div>
                <div class="form-group row" ng-if="!sameBillingAddress">
                    <div class="col-md-12">
                        <input placeholder="ZIP Code"
                               name="billingZip"
                               class="form-control"
                               type="text"
                               ng-model="billingAddress.zipCode"
                               pattern="[0-9]+">
                        <span class="warn" ng-show="regForm.billingZip.$invalid">Entered ZIP Code is incorrect</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="terms"><input type="checkbox" id="terms">
                        I agree to the Webshop <a href="/#">User
                            Agreement</a></label>
                </div>
                <div class="form-group row">
                    <label for="newsletter"><input type="checkbox" id="newsletter">
                        I want to receive notification about the latest offers</label>
                </div>
                <div id="successPopup" ng-show="successfulReg">Sign Up completed! You are being redirected to login
                    page.
                </div>
                <div id="errorPopup" ng-show="failedReg">Something went wrong. Please try again.</div>
                <div id="submitButton">
                    <button type="submit" class="btn btn-primary">Create new account</button>
                </div>
            </form>
        </div>
    </div>
</div>