html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 7rem 0 8rem;
    position: relative;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.search-bar {
    margin: 2rem 0;
    .search {
        position: relative;
        input {
            padding-right: 3rem;
        }
        .glyphicon-search {
            position: absolute;
            right: 2.5rem;
            top: 1rem;
        }
    }
    .sort {
        text-align: right;
        select {
            display: inline;
            margin-right: .5rem;
            width: 45%;
        }
        .switch {
            display: inline-block;
            height: 1.25rem;
            position: relative;
            top: .7rem;
            width: 3rem;
            input {
                display: none;
                &:checked + .slider {
                    background-color: darkred;
                }
                &:checked + .slider:before {
                    background-color: red;
                    transform: translateX(1.25rem);
                }
            }
            .slider {
                background-color: #9f9f9f;
                border-radius: .625rem;
                bottom: 0;
                cursor: pointer;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: .1s;
                &:before {
                    background-color: #ccc;
                    border-radius: 50%;
                    bottom: -.25rem;
                    content: "";
                    height: 1.75rem;
                    left: 0;
                    position: absolute;
                    transition: .1s;
                    width: 1.75rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .search-bar .sort {
        margin-top: 2rem;
        text-align: center;
    }
}

.offers {
    padding: 0;
    .offer {
        padding: 0 1rem;
        .offer-body {
            padding: 0 1rem 5.5rem;
            position: relative;
            .caption {
                height: 10rem;
            }
            .products {
                height: 15rem;
                overflow-y: hidden;
                padding: 0 1rem;
                position: relative;
                .smoothy-box {
                    background: linear-gradient(transparent, white);
                    bottom: 0;
                    height: 1rem;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
            }
            .details {
                padding: 1rem 1rem 0;
                a:hover {
                    cursor: pointer;
                }
            }
            button {
                bottom: 1rem;
                position: absolute;
                right: 1rem;
                &:hover + .button-tooltip-small {
                    opacity: 1;
                }
            }
        }
    }
}

.button-tooltip {
    border-radius: .5em;
    background-color: #222;
    color: #9d9d9d;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: .5s;
    &:after {
        border-style: solid;
        border-color: transparent transparent transparent #222;
        content: "";
        position: absolute;
    }
    p {
        margin: 0;
    }
}

.button-tooltip-big {
    bottom: 2.85em;
    right: 5em;
    width: 275px;
    &:after {
        border-width: 7.5px;
        right: -15px;
        top: 35%;
    }
    p {
        font-size: 1.15em;
        padding: .75em;
    }
}

.button-tooltip-small {
    bottom: .8em;
    right: 4em;
    width: 200px;
    &:after {
        border-width: 5px;
        right: -10px;
        top: 37.5%;
    }
    p {
        padding: .5em;
    }
}

.offer-detail {
    .offer-name {
        border-bottom: 1px solid #9f9f9f;
    }
    .offer-products {
        padding-bottom: 2rem;
        text-align: justify;
        .offer-product {
            border-bottom: 1px solid #9f9f9f;
            padding: 1rem;
            .product-image {
                padding: 1.5rem;
                img:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
            h4, h5 {
                font-weight: bold;
            }
            p {
                line-height: 150%;
                padding: .75rem 0;
            }
        }
    }
    .offer-price {
        padding-bottom: 4rem;
        position: relative;
        button {
            bottom: 4rem;
            position: absolute;
            right: 1rem;
            &:hover + .button-tooltip {
                opacity: 1;
            }
        }
    }
}

.image-modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .image-modal-close {
        color: #f1f1f1;
        font-size: 4rem;
        position: absolute;
        right: 4rem;
        top: 6rem;
        transition: .25s;
        &:hover, &:active {
            color: red;
            cursor: pointer;
        }
    }
    .image-modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: .5s;
        animation-name: zoom;
        animation-duration: .5s;
        display: block;
        margin: 15rem auto;
        width: 70%;
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}

@media only screen and (max-width: 768px) {
    .image-modal {
        .image-modal-content {
            width: 100%;
        }
    }
}

footer {
    background-color: #101010;
    bottom: 0;
    color: #9f9f9f;
    left: 0;
    padding: 3rem 1rem;
    position: absolute;
    width: 100%;

    p {
        margin: 0;
        padding: 0;
    }
}

#editHeading, #purchaseHistory, #signupHeading {
    font-size: 30px;
    margin: 15px;
}

#editForm, #regForm {
    margin: 20px;

    input.ng-invalid {
        border: 2px solid red;
    }

    .warn {
        color: red;
        display: block;
        text-align: center;
        margin-top: 5px;
    }
    #submitButton {

        text-align: center;

        button {
            width: 40%;
            padding: 10px;
            margin: 0 15%;
        }
    }

    #errorPopup, #successPopup {
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0;
    }

    #errorPopup {
        border: 2px solid red;
        background-color: #ffc7c7;
    }

    #successPopup {
        border: 2px solid green;
        background-color: #ade7ad;
    }
}

.col-md-offset-6 {
    > div, label {
        margin-left: 15px;
    }
}

.login-box {
    border: 1px solid #101010;
    margin: 3rem auto;
    max-width: 450px;
    min-width: 300px;
    .login-header {
        background-color: #101010;
        color: white;
        padding: 3rem;
        text-align: center;
        i {
            background-color: #fff;
            border-radius: 100%;
            color: #9f9f9f;
            font-size: 4rem;
            padding: 2rem;
        }
    }

    .login-body {
        padding: 2rem 4rem;
        .login-input {
            position: relative;
            input {
                margin-bottom: 2rem;
                padding-right: 3rem;
            }
            .glyphicon-user, .glyphicon-lock {
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
        }
        button {
            display: block;
            margin: 2rem auto 0;
            padding: 1rem;
            width: 50%;

        }
    }
}

.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    .pictures {
        padding: 0;

        li {
            list-style: none;
            height: 300px;
            width: 100%;
        }

        :first-child {
            background: url("../css/img/truck_sm.jpg") center;
            background-size: cover;
        }

        :nth-child(2) {
            background: url("../css/img/train_sm.jpg") center;
            background-size: cover;
        }

        :last-child {
            background: url("../css/img/cars_sm.jpg") center;
            background-size: cover;

        }

        @media (min-width: 768px) {

            :first-child {
                background: url("../css/img/truck_md.jpg") center;
                background-size: cover;
            }

            :nth-child(2) {
                background: url("../css/img/train_md.jpg") center;
                background-size: cover;
            }

            :last-child {
                background: url("../css/img/cars_md.jpg") center;
                background-size: cover;

            }

        }

        @media (min-width: 1200px) {

            :first-child {
                background: url("../css/img/truck_lg.jpg") center;
                background-size: cover;
            }

            :nth-child(2) {
                background: url("../css/img/train_lg.jpg") center;
                background-size: cover;
            }

            :last-child {
                background: url("../css/img/cars_lg.jpg") center;
                background-size: cover;

            }

        }
    }

    .indicators {
        position: absolute;
        top: 260px;
        left: 42%;
        padding: 0;

        li {
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            padding: 7px;
            margin: 10px;
            list-style: none;
            float: left;
        }

        li.active {
            background-color: red;
        }
    }

    .control {
        position: absolute;
        top: 140px;
        color: white;
        cursor: pointer;
        background-color: rgba(102, 102, 102, 0.2);
        border-radius: 50px;
    }

    .control:hover {
        background-color: rgba(102, 102, 102, 0.7);
    }

    .prev {
        padding: 10px 10px 10px 20px;
        left: -15px;
    }

    .next {
        padding: 10px 20px 10px 10px;
        right: -15px;
    }
}

.buttonx {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 24px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.buttonx:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
    text-decoration: none;
}

